@import "./partials/_variables"; // Declare global variables here

html {
    background-color: $bg--dark;

    color: $text--light;
}

.MuiTabs-flexContainer {
    flex-wrap: wrap !important;
}

.main {
    &__inner {
        margin-bottom: 20px;
        display: flex;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        width: max-content;

        button {
            margin-left: 20px;
        }
    }
}

.tab-container {
    display: flex !important;
    align-items: center !important;

    &:hover {
        .tabs-label {
            color: #3f51b5 !important;
        }
    }
}

.tabs-label {
    color: black !important;

}



.filter-tab {
    display: flex;
    align-items: center;
}




//Tabs
ul.tabs-nav.nav.navbar-nav.navbar-left {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li.tab {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
}

a.tab-link.custom-link {
    background: #6161a7;
    color: white;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    cursor: pointer;
}

a.tab-link.custom-link.active {
    background: #969696;
}







//StockTwitz API app
.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
    background-color: #3f51b5 !important;
}

.ticker-container {
    border: white solid 1px;
    border-radius: 4px;
    margin-top: 12px;

}

.ticker-titles {
    color: white;

    p {
        color: white !important;
    }
}

.ticker-input {
    border-bottom: 1px white solid;
    width: 100%;
    padding: 4px;
    color: white !important;
}

.no-selection {

    h4,
    p {
        color: white !important;
    }
}

//Tweets that are returned 

.tweet-main {
    margin-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    word-break: break-all;

}

.tweet-body {
    margin-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    word-break: break-all;
}

.search-main {
    margin-top: 40px;
}